@import "./Scss/_bootstrap.scss";



footer {
  margin-top: auto;
}

footer .container {
  width: 100%;
  min-width: 100%;
  min-height: 1px;
}
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  background-color: $primary;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
  min-height: 1px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

main > * {
  flex-shrink: 0;
}